.container {
    height: 100px;
    background-color: rgba(255,255,255,0.67);
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.67),rgba(255,255,255,0.67)), url("/banner-img.jpg");
    background-position: center 70%;
    background-repeat: no-repeat;
    padding: 55px 15px;
    text-align: center;
}

.word {
    color: #333333;
}
