html {
  padding: 0px;
  margin: 0px auto;
  background-color: #f8fbff;
}

body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #4172b0;
}

h1 {
  color: rgb(55, 53, 47);
  font-size: 2rem;
}

h2 {
  color: rgb(55, 53, 47);
}

h3 {
  color: rgb(55, 53, 47);
}

p {
  color: rgb(55, 53, 47);
}

span {
  color: rgb(55, 53, 47);
}

ul {
  line-height: 1.8;
}

li {
  color: rgb(55, 53, 47);
}

blockquote {
  font-size: 24px;
  font-weight: bold;
  color: rgba(117, 117, 117, 1);
  & p::before {
    content: "“";
  }
  & p::after {
    content: "”";
  }
}

table {
  width: 100%;
  color: rgb(55, 53, 47);
}

th {
  text-align: start;
  border-bottom: solid 1.5px #8ab2e4;
}

td {
  padding: 17px 10px;
  text-align: start;
  border-right: 1px solid #dbebff;
  border-bottom: 1px solid #8ab2e4;
}

pre {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(247, 246, 243);
}

.hljs-attr,
.hljs-keyword {
  color: #a71d5d;
}

.hljs-string {
  color: rgb(55, 53, 47);
}

.hljs-comment {
  color: rgb(55, 53, 47);
}

img {
  width: 350px;
}
